html {
    scroll-behavior: smooth;
    text-align: center;
}

#about-tab, #projects-tab {
    font-weight: 500;
}

main {
    /* For mobile devices */
    margin-top: 30px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    background-color: #ddd;
    color: black;
}
  
nav a.clicked {
    background-color: #4CAF50;
    color: white;
}

#profile-page {
    align-items: center;
    justify-content: center;
}

#profile-page, #projects-page {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: calc(10px + 2vmin);
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-link {
    color: #61dafb;
}

.proj-card {
    width: 25%;
    transition: transform 0.2s;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    border: 5px solid rgb(39, 38, 38);
    border-radius: 5%; /* Image will cover top of card so won't see this for top*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);     /* Shadows */
    cursor: pointer;
}

/* On mouse-over, increase card size */
.proj-card:hover {
    transform: scale(1.1);
}

.proj-image {
    width: 100%;
    border-radius: 5%;
}

/* Add some padding inside the card container */
.description-box {
    padding: 2px 16px;
    background-color: #30374c;
    font-family: Arial, Helvetica, sans-serif;
}

.proj-description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-size: calc(10px + 1vmin);
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}  